---
import { type CollectionEntry, getEntry } from 'astro:content';

import LayoutDefault from '@layouts/LayoutDefault.astro';
// import SeriesSummary from '@components/content/SeriesSummary.astro';
import { getBlogPosts, getPostUrlSlug } from '@root/util/query';
import ColumnThin from '@layouts/ColumnThin.astro';
import PostContent from '@root/components/blog/PostContent.astro';
import SeriesContent from '@root/components/blog/SeriesContent.astro';
import ArticleHeader from '@root/components/blog/ArticleHeader.astro';

export async function getStaticPaths() {
	const posts = await getBlogPosts({ includeSeries: true }, entry => {
		// since the result of this query is used to generate pages,
		// we exclude any posts which explicitly declare a URL
		return !entry.data.url;
	});

	return posts.map((post) => ({
		params: { slug: getPostUrlSlug(post).urlSlug },
		props: post,
	}));
}

type Props = CollectionEntry<'post'>;
const post: Props = Astro.props;

const series = await (async () => {
	if(!post.data.series) { return undefined; }
	const s = await getEntry("series", post.data.series.seriesId.slug);
	return s;
})();
---

<LayoutDefault pageTitle={post.data.title}>
	<ColumnThin>
	<article data-pagefind-body>
		<div class="article">
			<ArticleHeader post={post}/>
			{ series && <SeriesContent series={series} activeSlug={post.slug} /> }
			<div class="article-body">
				<PostContent post={post} />
			</div>
		</div>
	</article>
</ColumnThin>
</LayoutDefault>