---
import { type CollectionEntry, getEntry } from 'astro:content';

import FormattedDate from '@root/components/dates/FormattedDate.astro';
import Page from '@layouts/Page.astro';
import ColumnNormal from '@layouts/ColumnNormal.astro';
import SeriesSummary from '@root/components/content/SeriesSummary.astro';
import { getPosts } from '@root/util/query';


export async function getStaticPaths() {
	const posts = await getPosts({ includeSeries: true });
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;

const { Content } = await post.render();

const series = await (async () => {
	if(!post.data.series) { return undefined; }
	const s = await getEntry("series", post.data.series.seriesName.slug);
	return s;
})();
---

<Page pageTitle={post.data.title}>
	<ColumnNormal>
	<article>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={post.data.datePublished} />
					{
						post.data.dateUpdated && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={post.data.dateUpdated} />
							</div>
						)
					}
				</div>
				<div class="post-supertitle">
					{
						series && `${series.data.title}, Part ${post.data.series!.seriesNumber}`
					}
				</div>
				<h1>{post.data.title}</h1>
				<hr />
			</div>
			<div>
			{
				series && <SeriesSummary series={series} activeSlug={post.slug}/>
			}
			</div>
			<Content />
		</div>
	</article>
	</ColumnNormal>
</Page>