---
import { type CollectionEntry, getEntry } from 'astro:content';

import Page from '@layouts/Page.astro';
// import SeriesSummary from '@components/content/SeriesSummary.astro';
import { getPosts } from '@root/util/query';
import ColumnThin from '@layouts/ColumnThin.astro';
import PostContent from '@root/components/blog/PostContent.astro';
import SeriesContent from '@root/components/blog/SeriesContent.astro';
import ArticleHeader from '@root/components/blog/ArticleHeader.astro';

export async function getStaticPaths() {
	const posts = await getPosts({ includeSeries: true });
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;

const series = await (async () => {
	if(!post.data.series) { return undefined; }
	const s = await getEntry("series", post.data.series.seriesId.slug);
	return s;
})();
---

<Page pageTitle={post.data.title}>
	<ColumnThin>
	<article>
		<div class="article">
			<ArticleHeader post={post}/>
			{ series && <SeriesContent series={series} activeSlug={post.slug} /> }
			<div class="article-body">
				<PostContent post={post} />
			</div>
		</div>
	</article>
</ColumnThin>
</Page>