---
interface Props {
  tags: string[]
  tools: string[],
  formats: string[]
}

const { tags, tools, formats } = Astro.props;

---

<span class="post-tags">
  {tags.map(tag => {
    return <><span class="tag category"><a href={`/tags/${tag}`}>{tag}</a></span> </>
  })}
  {tools.map(tool => {
    return <><span class="tag tool"><a href={`/tags/${tool}`}>{tool}</a></span> </>;
  })}
  {formats.map(format => {
    return <><span class="tag format">{format}</span> </>;
  })}
</span>

<style>
.post-tags {
  font-family: var(--sans-font);
}

.post-tags .tag {
	display: inline-block;
	padding: 0.2em 0.4em 0em 0.4em;
  border-radius: 0.1em;
	white-space: nowrap;
  font-size: var(--font-size-small);
  border: 1px solid;
  border-radius: 0.2em;
  line-height: 1.2em;
}

.post-tags .tag a {
  color: unset;
}

.post-tags .category {
	background-color: #e3e9ef;
	color: #254298;
}

.post-tags .tool {
	background-color: #e3efe4;
	color: darkgreen;
}

.post-tags .format {
	background-color: #fff;
	color: #666;
}
</style>