---
import { getPostUrl, postDisplayTitle, postIsPublished } from '@root/util/query';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../dates/FormattedDate.astro';

interface Props {
  isActivePost: boolean,
  showHeadings?: boolean,
  post: CollectionEntry<'blog'>
}

const { 
  post,
  isActivePost,
  showHeadings = false
} = Astro.props;

const { headings } = await post.render();

const appendixLabels = "ABCDEFGHIJKLMNOPQRSTUV".split("")

const series = post.data.series!;
const label = series.isAppendix ?
  `Appendix ${appendixLabels[series.seriesNumber-1]}` :
  `Part ${series.seriesNumber}`;
---

<div class={`post ${isActivePost ? "active" : ""}`}>
  <div class="post-date">
    <div class="post-date-label">
      <FormattedDate date={post.data.datePublished} />
    </div>
  </div>
  <div>
    <div class="post-label">
      {label},
      <a class="post-title"
         href={getPostUrl(post)}
         class:list={[{ unpublished: !postIsPublished(post) }]}
         set:html={postDisplayTitle(post)}
      />
    </div>
  {
    showHeadings && headings && <div>
      {headings.map(h =>
        <div class="post-heading" style={`--heading-depth: ${h.depth}`}>
          <a href={`#${h.slug}`}>{h.text}</a>
        </div>
      )}
    </div>
  }
  </div>
</div>

<style is:inline>
.series .post {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}

.series .post-title {
	display: inline-block;
	margin-bottom: 0.2em;
}

.series  .post.active .post-label,
.series  .post.active .post-date-label {
	font-weight: var(--font-bold-weight);
	background-color: #ccfd8e;
}

.series .post.active .post-title {
	font-weight: var(--font-bold-weight);
}

.series .post-date {
	color: gray;
	display: inline-block;
	width: 8.0em;
}

.series .post-date-label {
	padding-left: 1.0em;
}

.series .post-heading {
  padding-left: calc(var(--heading-depth)*1.4em);

  color: var(--font-normal-color);
}

.series .post-heading:hover {
  background-color: rgb(208, 231, 184);
}

.series .post-heading:hover a {
  text-decoration: underline;
}

.series .post-heading a {
  color: inherit;
}
</style>