---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../dates/FormattedDate.astro';
import { getPostUrl, getSeriesPosts } from '@root/util/query';
interface Props {
  series: CollectionEntry<'series'>,
	activeSlug?: CollectionEntry<'blog'>["slug"]
}


const { series, activeSlug } = Astro.props;

const posts = await getSeriesPosts(series);
---

<div class="series" style={`--series-bg-image: url(${series.data.imageSummary})`}>
	<div class="series-header">
		<div class="series-title"><a href={`/series/${series.slug}/`}>{series.data.title}</a></div>
	</div>
	<div class="series-image"></div>
	<div class="series-summary">
	<p>{series.body}
	</div>
	<div class="series-posts">
    {posts.map(p => {
      return <div class={`post ${p.slug == activeSlug ? "active" : ""}`}>
        <span class="post-date"><FormattedDate date={p.data.datePublished} /></span>
        Part {p.data.series!.seriesNumber}, <a class="post-title" href={getPostUrl(p)}>{p.data.title}</a>
      </div>
    })}
		</ul>
	</div>
</div>
<style>
.series {
	/* background-color: #e7fff2; */
	/* background-color: #ecffd5; */
	background-color: #f3ffe4;
	border-radius: var(--gap-1);
	padding: var(--gap-1);
	margin: var(--gap-1);
}

.series {
	position: relative;
	z-index: 0;
}

.series .post.active {
	font-weight: var(--font-bold-weight);
	background-color: #ccfd8e;
}

.series .post.active .post-title {
	font-weight: var(--font-bold-weight);
}

.series-posts .post-title {
	display: inline-block;
	font-size: var(--font-size-normal);
	margin-bottom: 0.2em;
}

.series-posts .post-date {
	color: gray;
	display: inline-block;
	width: 8.0em;
	margin-left: 1.0em;
}

.series-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3.5em;

	border-radius: var(--gap-1) var(--gap-1) 0 0;
	z-index: 1;

	mask-image: linear-gradient(to bottom in oklab, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background: var(--series-bg-image), #cfffe5;
	background-blend-mode: multiply, normal;
	background-position: top, top;
	background-repeat: no-repeat;
	background-size: cover;

	user-select: none;
}

.series .series-header {
	z-index: 2;
}

.series .series-title {
	font-size: var(--font-size-post-title);
	font-weight: var(--font-title-weight);
	position: relative;
	z-index: 2;
}

.series .series-title a {
	color: var(--font-normal-color);
}
</style>